/*  your css code here. If applicable */
.hero {
	display: flex;
	height: 400px;
}

.hero div:first-child {
	height: 400px;
	width: 70%;
	overflow: hidden;
}

.hero div:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero div:nth-child(2) div:first-child {
	display: flex;
	flex-direction: column;
	height: auto;
	text-align: center;
	align-items: center;
}

img {
	height: 100%;
	width: 100%;
	object-fill: cover;
}

a {
	text-decoration: none;
}

.explore {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 4px;
}